<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DWGithub.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Widget.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4C3E754923FFF5EC00D1F4ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C45E34423B07F6A00A125E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C45E35A23B07F6A00A125E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4C45E36523B07F6A00A125E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
